.card {
  border-radius: 20px;
  width: 85%;
  height: 0;
  padding-bottom: 85%;
  float: none;
  margin: 0 auto 3rem auto;
  border: 3px outset;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.card:active {
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  transform: scale(.95);
  transition: .1s ease;
}