body {
  color: black;
  background-image: url(./images/metal-texture.jpg);
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h1, h3, h4 {
	font-family: 'Special Elite', cursive;
}

h3 {
	margin: -5px auto 10px auto;
}